In [ ]:
import mysql.connector
mydb = mysql.connector.connect(user='gan', password='password',
                              host='127.0.0.1',port=”3306”,) 
# 使用 cursor() 方法创建一个游标对象 cursor
cursor = mydb.cursor()
# 使用 execute() 方法执行 SQL，如果表存在则删除
sql_2="SHOW TABLES"
cursor.execute(sql_2)
result2=cursor.fetchall()
print('result2:',result2) 
# 关闭数据库连接
mydb.close()
from sqlalchemy import create_engine
import pandas as pd
# 初始化数据库连接:
engine=create_engine('mysql+mysqlconnector://root:password@localhost:3306/test')
# 查询语句，选出employee表中的所有数据
sql = "SELECT * FROM fct_sales limit 8" 
# read_sql_query的两个参数: sql语句， 数据库连接
df_fct_sales = pd.read_sql_query(sql, engine)
# 输出employee表的查询结果
(df_fct_sales.head(3))

In [ ]:
create_engine("数据库类型+数据库驱动://数据库用户名:数据库密码@IP地址:端口/数据库"，其他参数)